@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject State State
@inject User User
@inject IJSRuntime JsRuntime

@page "/"

<Header />

<Messages>

    @foreach (var message in State.Messages)
    {
        @if (message.User.Id == User.Id)
        {
            <MessageSended Text=@message.Text Date=message.Date />
        }
        else
        {
            <MessageReceived Text=@message.Text Date=@message.Date User=@message.User.Username />
        }
    }
    <div id="end-messages"></div>
</Messages>


<div class="container is-fluid" style="position: fixed; bottom:0; margin-bottom: 2vh; ">
    <div class="field has-addons">
        <div class="control is-expanded">
            <input class="input" type="text" placeholder="Escreva algo..." @bind="Text">
        </div>
        <div class="control">
            <button class="button is-info" @onclick="HandleSubmit" disabled="@(!IsConnected)">
                <span class="icon is-small">
                    <i class="fas fa-paper-plane"></i>
                </span>
                <span>Enviar</span>
            </button>
        </div>
    </div>
</div>

@code {

    private HubConnection _connection;

    public string Text { get; set; }

    public bool IsConnected => _connection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(User.Username))
        {
            NavigationManager.NavigateTo("/login");
        }

        _connection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/chatHub"), options =>
        {
            options.HttpMessageHandlerFactory = (x) => new HttpClientHandler
            {
                ServerCertificateCustomValidationCallback = HttpClientHandler.DangerousAcceptAnyServerCertificateValidator
            };
        }).Build();
        _connection.On<string>("ReceiveMessage", async (_) =>
        {
            StateHasChanged();
            await JsRuntime.InvokeAsync<string>("scrollToEnd");

        });
        await _connection.StartAsync();
    }

    Task HandleSubmit()
    {
        var text = Text;
        Text = "";
        return _connection.SendAsync("SendMessage", text, User);
    }

}