<section class="hero is-info is-small mb-4">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="/"><i class="fas fa-comment"></i> Chat</a>
            </h1>
        </div>
    </div>
</section>