<div class="columns">
    <div class="column is-narrow">
        <div class="block has-text-left">
            <div class="box">
                <p>@Text</p>
                <div class="has-text-right">
                    <small style="font-size: 9px;">@User - @Date.ToShortTimeString()</small>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string User { get; set; }

    [Parameter]
    public DateTime Date { get; set; }
}